<h2>Definition</h2>
{{ $currentSectionPath := .CurrentSection.File.Dir }}
<p>{{ .Description }}</p>
<h2>URI</h2>
<p>{{ .Params.uri }}</p>
<div class="row">
  <div class="col">
    <h2>Preferred Labels</h2>
    <p>
      {{ with .Params.pref_labels }}
    <ul>
      {{ range . }}
      <li>{{ .value }} ({{ title .language_name }})</li>
      {{ end }}
    </ul>
    {{ end }}
    </p>
    <div class="row">
      {{ with .Params.narrower_concepts }}
      <div class="col">
        <h2>Narrower Concepts</h2>
        <ul>
          {{ range . }}
            <li><a href="/{{ $currentSectionPath }}{{ . }}/">{{($.Site.GetPage (print $currentSectionPath "/" .)).Title}}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ with .Params.broader_concepts }}
      <div class="col">
        <h2>Broader Concepts</h2>
        <ul>
          {{ range . }}
          <li><a href="/{{ $currentSectionPath }}{{ . }}/">{{($.Site.GetPage (print $currentSectionPath "/" .)).Title}}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
    {{ with .Params.related }}
    <h2>Related terms (external)</h2>
    <table class="invisible-layout-table">
      {{ range . }}
      <tr>
        <td class="field-name">{{ .type }}: </td>
        <td><a href="{{ .uri }}">{{ .uri }}</a></td>
      </tr>
      {{ end }}
    </table>
    <br />
    {{ end }}
  </div>
  <div class="col">
    {{ with .Params.alt_labels }}
      <h2>Alternate Labels</h2>
      <ul>
        {{ range . }}
        <li>{{ .value }} ({{ title .language_name }})</li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>