<h2>Description</h2>
<p>{{ .Description }}</p>
<div class="row">
  <div class="col">
    <h2>URI</h2>
    <p>{{ .Params.uri }}</p>
    <h2>Last updated</h2>
    <p>{{ dateFormat "2006-01-02" .Date }}</p>
  </div>
  <div class="col">
    <h2>Other views</h2>
    <p>
    <ul>
      <li><a href="/{{ .File.Dir }}printable">HTML - single page for printing</a></li>
      {{ if eq .Params.version "" }}
        <li><a href="/{{ .Section }}.zip">Zip file including RDF (.nt) and vocab file for DSpace (.xml)</a></li>
      {{ else }}
        <li><a href="/{{ .Section }}_{{ .Params.version }}.zip">Zip file including RDF (.nt) and vocab file for DSpace (.xml)</a></li>
      {{ end }}
    </ul>
    </p>
  </div>
</div>
<div class="row">
  {{ with .Params.creators }}
  <div class="col">
    <h2>Creators</h2>
    <ul>
      {{ range . }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  {{ with .Params.contributors }}
  <div class="col">
    <h2>Contributors</h2>
    <ul>
      {{ range . }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>