html {
  background-color: white;
  max-width: 2000px;
  margin: 0 auto;
  padding: 1%;
}

body {
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  font-family: 'Muli','Helvetica',sans-serif;
  color: #555555;
  font-size: 16px;
}

.force-word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

a,a:visited,a:hover {
  color: #23527c;
}

a {
  text-decoration: underline;
}

a.home-page-vocab-cards,a.header-title {
  text-decoration: none;
  color: #555555;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 15px;
}


/*HEADER*/

div#header {
  margin-top: 20px;
}

div#footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #cdcdcd;
  font-size: x-small;
  text-align: right;
}

a.site-title:hover {
  text-decoration: underline;
}

img#header-logo {
  max-width: 100%;
  float: left;
  margin-top: 5px;
}

h1.header-title {
  font-size:3.5vw;
}

img#title-image {
  max-width: 100%;
}

h1.page-title,h2.concept-title {
  text-align: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 3px;
}

h2.concept-title {
  text-align: center;
  border-top: 2px solid #555555;
  padding-top: 5px;
}

div.card {
  margin-bottom: 15px;
}

div.card-body {
  font-size: 90%;
}

div.card-header {
  font-weight: bold;
}

/****** Navbar ******/

div#vocab-navbar {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  background-color: #efefef;
}

div.vocab-navbar-left {
  padding-left: 30px;
}

div.vocab-navbar-center {
  text-align: center;
}

div.vocab-navbar-right {
  text-align: right;
  padding-right: 30px;
}

/****** Sidebar tree ******/
div.tree {
  border-right: 1px #cdcdcd solid;
}

div.tree ul {
  padding-left: 15px;
}

/****** Layout table ******/
table.invisible-layout-table tr, table.invisible-layout-table td {
  border: none;
}

td.field-name {
  text-align: right;
  /*font-weight: bold;*/
  white-space: nowrap;
}