<div class="row">
    <div class="col">
        <div style="text-align: right;">
            {{ if eq .Params.latest true }}
                <span class="badge bg-success page-annotation">This is the latest version of this vocabulary</span>
            {{ else }}
                <span class="badge bg-danger page-annotation"><a class="page-annotation" href="{{ .FirstSection.Permalink }}">There is a newer version of this vocabulary</a></span>
            {{ end }}
        </div>
        <h2>Description</h2>
        <p>{{ .Description | markdownify }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Released</h2>
        <p>{{ dateFormat "2006-01-02" .Date }}</p>
        <h2>Namespace URI</h2>
        <p>{{ .Params.namespace }}</p>
        <h2>Vocabulary PID</h2>
        <p><a href="{{ .FirstSection.Permalink }}">{{ .FirstSection.Permalink }}</a></p>
        <h2>Versions</h2>
        <ul>
            {{ range .FirstSection.Sections }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Params.version }}</a>
                    {{ if eq .Params.latest true }}
                        (latest version)
                    {{ end }}
                </li>
            {{ end }}
        </ul>

        <h2>Other views</h2>
        <ul>
            <li><a href="/{{ .File.Dir }}printable">Single page for printing (HTML)</a></li>
            <li><a href="/{{ .File.Dir }}{{ .Section }}.nt">RDF (NTriples)</a></li>
            {{ with .Resources.Match "*.xml"}}
                {{ range . }}
                    {{ $fileNameSlice := strings.Split . "dspace_"}}
                    {{ $languageCode := substr (index $fileNameSlice 1) 0 -4 }}
                    <li><a href="/{{ page.File.Dir }}{{ . }}">DSpace XML Vocab file ({{ index site.Data.languages $languageCode }})</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <div class="col">
        {{ with .Params.creators }}
            <h2>Creators</h2>
            <ul>
                {{ range . }}
                    {{ $creatorString := .name }}
                      {{ with .language }}
                        {{ $creatorString = print $creatorString " (" . " translation)" }}
                      {{ end }}
{{/*                    {{ if ne .language "" }}*/}}
{{/*                        {{ $creatorString = print .name " (" .language " translation)"}}*/}}
{{/*                    {{end }}*/}}
                    <li>{{ $creatorString }}</li>
                {{ end }}
            </ul>
        {{ end }}
        {{ with .Params.contributors }}
            <h2>Contributors</h2>
            <ul>
                {{ range . }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</div>
{{ with .Params.change_log }}
    <div class="row">
        <div class="col">
            <h2>Change Log</h2>
            {{ . | markdownify }}

        </div>
    </div>
{{ end }}