{{ define "main" }}
<div class="row">
  <div class="col">
    <h1 class="page-title">{{ .Title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    {{partial "concept_scheme" .}}
    <h2>Concepts</h2>
    {{ $conceptSchemeID := .Section }}
    {{ range .Params.concepts }}
      {{ $conceptPage := $.Site.GetPage (print "/" $conceptSchemeID "/" .) }}
      <h2 class="concept-title">{{ $conceptPage.Title }}</h2>
      {{ partial "concept" $conceptPage }}
    {{ end }}
  </div>
</div>
{{ end }}