{{ define "main" }}
  <div class="row">
    <div class="col">
      {{ .Content }}
    </div>
  </div>


  <div class="row">
    {{ range $.Site.Sections }}
      <div class="col-12 col-sm-6 col-lg-4">
        <a class="home-page-vocab-cards" href="{{ .Permalink }}">
          <div class="card">
            <div class="card-header">
              {{ .Title }}
            </div>
            <div class="card-body">

              <p>{{ .Description }}</p>
            </div>
          </div>
        </a>
      </div>
    {{ end }}
  </div>

{{ end }}